
.space{
    margin-bottom:20px;
}
a{
 color: #ffb42a;
 text-decoration:none;
}
#titre{

 color:#fff;

}
a:hover{
    color:#1d1d1d;
    background-color: #ffb42a;
    border-radius:8px;
}
a:focus{
    color:#1d1d1d;
    background-color:darkmagenta;

    text-decoration: underline;
}
