#searchSubmit{
    background-color:grey;
    border-color:grey;
}


#searchInput,.box form .inputBox input:valid ~ span:not(#pdfile1),
.box form .inputBox input:focus ~ span:not(#pdfile1){
    /* color:#ffb42a; */
    color:turquoise;


}
select{
    background-color:turquoise;
 }

.navbar,.footbar,#info,main{
    background-color: turquoise;
}


.logo_titleheader,.navbar ul li a,.logo_titlefooter,.footbar ul li a {color:#fff;}


.navbar ul li a:hover, .footbar ul li a:hover{
    color:#1d1d1d;
    background-color: grey;}

.navbar ul li a:focus,#LOGOUT:focus,.footbar ul li a:focus{
    color:#1d1d1d;
    background-color:purple;
}

#LOGOUT,.btn-submit{
    background-color: grey;
}

.footbar,  .logo_titlefooter,.contact-info a,.copyright-text,.form-label{
    color:grey;
}

.contact-info svg ,.btn-submit:hover{
    fill: purple;
}

.form-input {
  border-color:#ccc;
}
.iframeContainer{
    border-color: grey;
   }


body{
    background-color:turquoise;
   }
#switch{
    background-color: grey;
}
#switch:hover{
    background-color:purple ;
}
.iframeContainer{
    background-color: grey;
}
.container{background-color:turquoise;}
.matiere{border-color:purple;}
.container  {color: grey;}
.container h3{ color:purple;
}
.lien {color:grey}
.lien:hover{background-color:purple;color:grey}
.lien:focus{background-color:purple;color:turquoise}
.box{
background:turquoise;
}
.box::before,.box::after{
background: linear-gradient(0deg,transparent,transparent, gray, gray );
}
h2,.box form .inputBox input{
color:gray;
}
.box form input[type="submit"]:focus{background-color: purple;}
.box form .inputBox span,.box form .link a{color:turquoise};
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
color:purple;}
.box form .inputBox i,.box form input[type="submit"]{background:purple;}
.notice{color:purple}
.borderLine::before,.borderLine::after{
background: linear-gradient(0deg,transparent,transparent, purple,purple,purple);}

.erreur,#dateline{
    background-color: purple;
    color:gray;
}
#seconnecter{
    color:gray;
}
.box form .link a:hover,.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
.box form .link a:nth-child(2){
    color:gray;
}

#laglink{color:purple;}
#retourlink{
    color:turquoise;
}
.consbout{
    background-color:#333333;
    color:#ccc;
}
.consulteside{
   background-color:purple;

}

 #laglink a{
    color:gray;
}
.pdf{
    background-color:purple;
}
