#searchSubmit{
    background-color:tomato;
    border-color:tomato;
}

#searchInput:focus{
    background-color: cyan;

}

.navbar,.footbar,#info,main{
    background-color: red;
}

.logo_titleheader,.navbar ul li a,.logo_titlefooter,.footbar ul li a {color:cyan;}


.navbar ul li a:hover, .footbar ul li a:hover{
    color:red;
    background-color: tomato;}

.navbar ul li a:focus,#LOGOUT:focus,.footbar ul li a:focus{
    color:red;
    background-color:cyan;
}

#LOGOUT,.btn-submit{
    background-color: tomato;
}

.footbar,  .logo_titlefooter,.contact-info a,.copyright-text,.form-label{
    color:cyan;
}

.contact-info svg ,.btn-submit:hover{
    fill: cyan;
}

.form-input {
  border-color:#ccc;
}
.iframeContainer{
    border-color: tomato;
   }


body{
    background-color:red;
   }
#switch{
    background-color: tomato;
}
#switch:hover{
    background-color: cyan;
}
.iframeContainer{
    background-color: cyan;
}


.container{background-color:red;}
.matiere{border-color:tomato;}
.container  {color: cyan;}
.container h3{ color:tomato;
}
.lien {color:cyan}
.lien:hover{background-color:tomato;color:cyan;}
.lien:focus{background-color:tomato;color:red;}
.box{
    background:red;
}
.box::before,.box::after{
    background: linear-gradient(0deg,transparent,transparent, cyan, cyan,cyan );
}
h2,.box form .inputBox input{
    color:cyan;
}
.box form input[type="submit"]:focus{background-color: tomato;}
.box form .inputBox span,.box form .link a{color:red};
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span{
    color:tomato;}
    .box form .inputBox i,.box form input[type="submit"]{background:tomato;}
.notice{color:cyan}
.borderLine::before,.borderLine::after{
background: linear-gradient(0deg,transparent,transparent, tomato,tomato,tomato);}

.erreur{
    background-color: cyan;
    color:tomato;
}
#seconnecter,.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i,.box form .link a:hover,
.box form .link a:nth-child(2){
    color:cyan;
}
